{% extends "delivery/navbardelivery.html" %}
{% block content %}
{% load static %}
<style>
    body {
        background-image: url("{% static 'images/lines1.png' %}");
    }
</style>
<div class="container mt-5" style="max-width: 500px;">
    <h1 style="text-align: center;margin-top: 100px;">Reset Password</h1>
    <form action="{% url 'reset_password_delivery' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="current" class="form-label">Current Password</label>
            <input type="text" class="form-control" id="current" name="current">
        </div>
        <div class="mb-3">
            <label for="passwd" class="form-label">New Password</label>
            <input type="password" class="form-control" id="passwd" name="passwd" placeholder="New Password">
        </div>
        <div class="mb-3">
            <label for="cpasswd" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="cpasswd" name="cpasswd" placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-dark btn-block">Reset</button>
        <div class="mt-3">
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}